{% extends "app/layout.html" %}

{% block content %}
<div class="container">
      <h5 class="font-weight-bold text-uppercase pl-1 mt-5">Find Groups / Providers for Group Formation</h5>
      <div class="card mt-3">
          <div class="modal-body">
              <form class="" action="" method="post">
                  {% csrf_token %}

                  {% for hidden_field in form.hidden_fields %}
                      {{ hidden_field }}
                  {% endfor %}

                  {% for field in form.visible_fields %}
                      <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item p-0 border-0">
                                <ul class="list-group list-group-horizontal-sm">
                                    <li class="list-group-item w-25">{{ field.label_tag }}</li>
                                    <li class="list-group-item w-75">{{ field }}</li>
                                </ul>
                            </li>
                        </ul>
                      </div>
                  {% endfor %}
                  <input type="submit" name="dueButton" class="btn btn-primary"></input>
              </form>
          </div>
      </div>

      <hr/>

      <h5 class="font-weight-bold text-uppercase pl-1 mt-5">Review Current Critical Due Dates</h5>

      {% for group in to_groups %}
      <div class="card mt-3">
          <div class="card-header">
              <span class="font-weight-bold">{{ group.case_number}}:</span>  {{ group.appeal_name }}
          </div>
          <div class="card-body">
          </div>

          <ul class="list-group list-group-flush">
              <li class="list-group-item"></li>
              <li class="list-group-item font-weight-bold"></li>
          </ul>
        </div>
        <hr>
        {% endfor %}
    </div>


{% endblock %}
