{% extends 'app/layout.html' %}

{% block content %}
<div class="container-fluid px-5">
    <div class="card-deck mt-3">
        <div class="card shadow">
            <div class="card-body">
                <h4>Total Cases: {{ total_cases }}</h4>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body">
                <h4>Some Metric</h4>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body">
                <h4>Total Impact: ${{ total_impact }}</h4>
            </div>
        </div>
    </div>

    <h5 class="font-weight-bold text-uppercase mt-5 pl-1">Due Next</h5>

    <div class="card shadow">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Case Number</th>
                    <th scope="col">Critical Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            {% for due in due_next %}
                <tr >
                    <td class=""><a href="{% url 'appeal_detail_url' due.case_number %}">{{ due.case_number }}</a></td>
                    <td>{{ due.critical_date|date:'m/d/Y' }}</td>
                    <td>{{ due.action_id }}</td>
                    <td class="p-0"><a class="btn btn-info w-100" href="{& url 'review_case_critical_due_dates' due.case_number %}">Details</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h5 class="font-weight-bold text-uppercase mt-5 pl-1">Recent Cases</h5>

    <div class="card shadow">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Case Number</th>
                    <th scope="col">Structure</th>
                    <th scope="col">Case Name</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Create Date<th>
                </tr>
            </thead>
            {% for case in most_rec_cases %}
                <tr>
                    <td><a href="{% url 'appeal_detail_url' case.case_number %}">{{ case.case_number }}</a></td>
                    <td>{{ case.structure|title }}</td>
                    {% if case.structure == 'INDIVIDUAL' %}
                        <td></td>
                    {% else %}
                      <td>{{ case.appeal_name }}</td>
                    {% endif %}
                    <td>{{ case.request_date }}</td>
                    <td>{{ case.create_date}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
