{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid">
    <h5 class="font-weight-bold text-uppercase pl-1 mt-5">Issue Master</h5>
    <hr/>
    <table class="table table table-hover table-bordered">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Issue</th>
                <th scope="col">Category</th>
                <th scope="col">Abbrevation</th>
                <th scope="col">Short Description</th>
                <th scope="col">Long Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
          {% for issue in all_issues %}
            <tr>
                <td>{{ issue.issue_id }}</td>
                <td>{{ issue.issue}}</td>
                <td>{{ issue.category_id }}</td>
                <td>{{ issue.abbreviation}}</td>
                <td>{{ issue.short_description }}</td>
                <td>{{ issue.long_description }}</td>
                <td class="p-0 m-0 text-center">
                    <a class="btn btn-primary m-0" href=""><i class="far fa-edit"></i></i></a>
                    <a class="btn btn-primary m-0" href=""><i class="far fa-trash-alt color-white text-light"></i></a>
                </td>
            </tr>

          {% endfor %}
    </table>
</div>


{% endblock %}
