{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-5 mb-0">
    <div class="col-lg">
        <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Issue Master</h5>
    </div>
    <div class="col-lg text-right mr-4">
        <a class="" href="{% url 'new_issue_master_url' %}"><i class="far fa-plus-square" style="font-size:36px;"></i></a>
    </div>
  </div>
    <hr class="mt-0"/>

    <div class="card">
        <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Issue ID:</li>
                      <li class="list-group-item w-75">{{ issue.issue_id }}</li>
                  </ul>
              </li>

              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Issue Name:</li>
                      <li class="list-group-item w-75"> {{ issue.issue }}</li>
                  </ul>
              </li>

              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Representative:</li>
                      <li class="list-group-item w-75"> {{issue.rep_id }}</li>
                  </ul>
              </li>

              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Abbreviation:</li>
                      <li class="list-group-item w-75">{{ issue.abbreviation }}</li>
                  </ul>
              </li>

              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Short Description:</li>
                      <li class="list-group-item w-75">{{ issue.short_description }}</li>
                  </ul>
              </li>

              <li class="list-group-item p-0 border-0">
                  <ul class="list-group list-group-horizontal-sm">
                      <li class="list-group-item font-weight-bold" style = "width:180px;">Long Description:</li>
                      <li class="list-group-item w-75">{{ issue.long_description|linebreaks }}</li>
                  </ul>
              </li>
          </ul>
              <a class="btn btn-primary mt-2" href="{% url 'update_issue_url' issue.issue_id %}"><i class="fas fa-pen-square"></i>
              <a class="btn btn-primary mt-2" href=""><i class="far fa-trash-alt color-white text-light"></i></a>
        </div>
    </div>
</div>


{% endblock %}
