{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-5 mb-0">
    <div class="col-lg">
        <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Issue Master</h5>
    </div>
    <div class="col-lg text-right mr-4">
        <a class="" href="{% url 'new_issue_master_url' %}"><i class="far fa-plus-square" style="font-size:36px;"></i></a>
    </div>
  </div>
    <hr class="mt-0"/>
    <table class="table table table-hover table-bordered">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Issue</th>
                <th scope="col">Short Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
          {% for issue in all_issues %}
            <tr>
                <td class="pr-0  pl-0 m-0 text-center" style="width:10px;">{{ issue.issue_id }}</td>
                <td style="width:200px;">{{ issue.issue}}</td>
                <td style="width:400px;">
                    <div class="overflow-auto" style="max-height:300px;">
                      {{ issue.short_description }}
                    </div>
                </td>
                <td class="p-0 m-0 text-center" style="width:100px;">
                    <a class="btn btn-primary mt-2" href="{% url 'issue_detail_url' issue.id %}"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-primary mt-2" href=""><i class="far fa-trash-alt color-white text-light"></i></a>
                </td>
            </tr>

          {% endfor %}
    </table>


</div>


{% endblock %}
