<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div class="vertical-nav">
        <div class="py-4 px-3 mb-4">
            <div class=row>
                <div class="col-sm">
                {% if user.is_authenticated %}
                    <div class="media d-flex align-items-center">
                            {% if user.avatar %}
                                <img src="{{ user.avatar }}" class=" rounded-circle align-self-center" width="32px">
                            {% else %}
                                <i class="far fa-user-circle fa-4x"></i>
                            {% endif %}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="media-body text-dark">
                        <h5 class="mb-0"> {{ user.name }}</h5>
                        <p class="text-muted mb-0">{{ user.email}}</p>
                        <a class="mb-0 text-dark" href="{% url 'signout' %}">Sign Out</a>
                    </div>
                </div>
                {% else %}
                <div class="col-sm">
                    <div class="media d-flex align-items-center">
                        <div class="media-body text-white">
                            <a class="mb-0 text-dark" href="{% url 'signin' %}">Sign In</a>
                        </div>
                    </div>
                  }
                </div>
                {% endif %}
            </div>
        </div>

        <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

        <ul class="nav flex-column mb-0">
            <li class="nav-item"><a class="nav-link font-italic text-dark" href="{% url 'home' %}">New Appeal</a></li>
            <li class="nav-item"><a class="nav-link font-italic text-dark" href="{% url 'calendar' %}">Calendar</a></li>
            <li class="nav-item"><a class="nav-link font-italic text-dark" href="{% url 'newEvent' %}">New Event</a></li>
        </ul>
    </div>
    <div class="page-content mb-5">
          <div class="navbar w-100">
              <div class="search-bar w-50">
                <form method='POST' action="">
                  {% csrf_token %}
                  <input class="form-control w-100" type="text" placeholder="Search Case" aria-label="Search" name="search">
                </form>
              </div>

          </div>
        {% block content %}

        {% endblock %}

    </div>

</body>
</html>
