{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg">
            <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Provider Name Master</h5>
        </div>
        <div class="col-lg text-right">
            <div class="btn-group">
                <div class="text-right mx-3">
                  <form method="get" action="">
                    <input class="btn btn-outline-primary" type="submit" value="Clear Filter" name="clear_filter"></input>
                  </form>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filter
                    </button>
                    <div class="dropdown-menu overflow-auto" style="max-height: 500px;" aria-labelledby="dropdownMenuButton">
                      <form method="get" action="">
                        <p class="text-dark font-weight-bold text-uppercase px-3 large mb-0">Client</p>
                        <input class="dropdown-item" type="submit" value="Client" name="is_client"/></input>
                        <p class="text-dark font-weight-bold text-uppercase px-3 large mb-0">System</p>
                        {% for system in all_systems %}
                            <input class="dropdown-item" type="submit" value="{{ system.parent_id }}" name = "system_filter"></input>
                        {% endfor %}
                      </form>
                    </div>
                </div>
              </div>
          </div>
          <div class="text-right mr-4">
            <a class="" data-toggle="tooltip" data-placement="bottom" title="New Provider" href="{% url 'new_provider_name_master_url' %}"><i class="far fa-plus-square" style="font-size:36px;"></i></a>
          </div>
    </div>
    <hr/>
    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-light text-center">
            <tr>
                <th class="text-center" scope="col">Provider #</th>
                <th class="text-center" scope="col">Provider Name</th>
                <th class="text-center" scope="col">FYE</th>
                <th class="text-center" scope="col">City</th>
                <th class="text-center" scope="col">County</th>
                <th class="text-center" scope="col">State</th>
                <th class="text-center" scope="col">Parent</th>
                <th class="text-center" scope="col">FI Number</th>
                <th class="text-center" scope="col">Client</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
          {% for provider in all_providers %}
            <tr>
                <td class="text-center" style="width:100px;">{{ provider.provider_number }}</td>
                <td>{{ provider.provider_name|title }}</td>
                <td class="text-center" style="width:75px;">{{ provider.fye }}</td>
                <td>{{ provider.city }}</td>
                <td>{{ provider.county }}</td>
                <td class="text-center" style="width:55px;">{{ provider.state_id_id }}</td>
                <td>{{ provider.parent_id_id }}</td>
                <td>{{ provider.fi_number}}</td>
                <td class="text-center" style="width:70px;">{{ provider.is_client}}</td>
                <td class="p-0 m-0 text-center">
                    <a class="btn btn-primary m-0" href="{% url 'provider_name_update_url' provider.provider_number %}"><i class="far fa-edit"></i></i></a>
                    <a class="btn btn-primary m-0" href=""><i class="far fa-trash-alt color-white text-light"></i></a>
                </td>
            </tr>
          {% endfor %}
    </table>
</div>


{% endblock %}
