{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg">
            <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Provider Name Master</h5>
        </div>
        <div class="col-lg text-right">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form method="get" action="">
                    <input class="dropdown-item" type="submit" value="Client" name="is_client"/></input>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </form>
                </div>
            </div>
          </div>
          <div class="col-xs text-right mr-4">
            <a class="" data-toggle="tooltip" data-placement="bottom" title="New Provider" href="{% url 'new_provider_name_master_url' %}"><i class="far fa-plus-square" style="font-size:36px;"></i></a>
        </div>
    </div>
    <hr/>
    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">Provider #</th>
                <th scope="col">Provider Name</th>
                <th scope="col">FYE</th>
                <th scope="col">City</th>
                <th scope="col">County</th>
                <th scope="col">State</th>
                <th scope="col">Parent</th>
                <th scope="col">FI Number</th>
                <th scope="col">Client</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
          {% for provider in all_providers %}
            <tr>
                <td>{{ provider.provider_number }}</td>
                <td>{{ provider.provider_name|title }}</td>
                <td>{{ provider.fye }}</td>
                <td>{{ provider.city }}</td>
                <td>{{ provider.county }}</td>
                <td>{{ provider.state_id_id }}</td>
                <td>{{ provider.parent_id_id }}</td>
                <td>{{ provider.fi_number}}</td>
                <td>{{ provider.is_client}}</td>
                <td class="p-0 m-0 text-center">
                    <a class="btn btn-primary m-0" href="{% url 'provider_name_update_url' provider.provider_number %}"><i class="far fa-edit"></i></i></a>
                    <a class="btn btn-primary m-0" href=""><i class="far fa-trash-alt color-white text-light"></i></a>
                </td>
            </tr>
          {% endfor %}
    </table>
</div>


{% endblock %}
